<div class="container" style="padding-top:50px;">
	<div class="page-header">
	  <h1 style="margin-top:20px; text-align:center;">
	  	<a href="/admin/feedbacks/{{feedback._id}}/edit">{{feedback.email}}</a>
	  </h1>
	</div>
	<div class="container">{{feedback.content}}</div>
</div>
