<div class="container" style="padding-top:50px;">
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">
      反馈列表
      <a class="btn btn-success pull-right" href="/admin/feedbacks/new">新建反馈</a>
    </h1>
  </div>

  {{#if feedbacks}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>邮箱</th>
        <th>时间</th>
        <th>内容</th>
        <th>已读</th>
      </tr>
    </thead>
    <tbody>
      {{#each feedbacks}} {{> feedback}} {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>List is empty</p>
  {{/if}}

  <div class="container">
    {{#if pagenums}}
    <ul class="pagination">
      {{#each pagenums}}
      <li>
        <a href="/admin/shops?offset={{ val }}&limit={{ @limit }}"> {{ val }} </a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>null</p>
    {{/if}}
  </div>

</div>