<div class="container" style="padding-top:50px;">

  {{#if feedback._id}}
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">更改反馈</h1>
  </div>
  <form name="edit" role="form" action="/admin/feedbacks/{{feedback._id}}" method="POST">
    <input type="hidden" name="_method" value="put" />
  {{else}}
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">添加反馈</h1>
  </div>
  <form name="new" role="form" action="/admin/feedbacks" method="POST">
  {{/if}}
  
    <div class="form-group">
      <input name="email" class="form-control" placeholder="邮箱" value="{{feedback.email}}">
    </div>
    <div class="form-group">
      <textarea name="content" class="form-control" placeholder="内容" rows="6">{{feedback.content}}</textarea>
    </div>

    <button type="submit" class="btn btn-success pull-right">
      {{#if feedback._id}} 提交更改 {{else}} 确认添加 {{/if}}
    </button>
  </form>

</div>