
<div class="container" style="padding-top:100px;">
	<div class="col-sm-4 col-sm-offset-4 well">
	  <h1 style="margin-top:20px; text-align:center;">后台登录</h1>

		{{#if message}}
		<div class="alert alert-danger">{{message}}</div>
		{{/if}}

		<form name="login" method="POST" action="/admin/login">
			<div class="form-group">
				<input name="username" type="textfield" class="form-control" placeholder="用户名">
			</div>
			<div class="form-group ">
				<input name="password" type="password" class="form-control" placeholder="密码">
			</div>
				<button type="submit" class="btn btn-warning btn-lg btn-block">登录</button>
		</form>
	</div>

</div>