<div class="container" style="padding-top:100px;">

  <div class="col-sm-4 col-sm-offset-4 well">
    <h1 style="margin-top:20px; text-align:center;">用户注册</h1>

    {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <form name="register" role="form" action="/admin/register" method="POST">
      <div class="form-group">
        <input name="username" type="textfield" placeholder="用户名" class="form-control">
      </div>
      <div class="form-group">
        <input name="password" type="password" placeholder="密码" class="form-control">
      </div>

      <button type="submit" class="btn btn-success  btn-block">注册</button>
    </form>

  </div>
</div>