<div class="container" style="padding-top:50px;">
	<div class="page-header">
	  <h1 style="margin-top:20px; text-align:center;">
	  	<a href="/admin/shops/{{shop._id}}/edit">{{shop.name}}</a>
	  </h1>
	</div>

</div>
