<div class="container" style="padding-top:50px;">
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">
      商铺列表<a class="btn btn-success pull-right" href="/admin/shops/new">新建商店</a>
    </h1>
  </div>

  {{#if shops}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>店铺名</th>
        <th>电话</th>
        <th>地址</th>
        <th>类别</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each shops}} {{> shop}} {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>暂无商店</p>
  {{/if}}


  <div class="container">

    {{#if pagenums}}
    <ul class="pagination">
      {{#each pagenums}}
      <li>
        <a href="/admin/shops?offset={{ val }}&limit={{ @limit }}"> {{ val }} </a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>null</p>
    {{/if}}

  </div>

</div>