<div class="container" style="margin:30px auto 100px;">

  {{#if shop._id}}
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">更改临时商户</h1>
  </div>

  <form name="edit" role="form" action="/admin/tmpshops/{{ shop._id }}" method="POST">
    <input type="hidden" name="_method" value="put" />
  {{else}}
    <div class="page-header">
      <h1 style="margin-top:20px; text-align:center;">添加临时商户</h1>
    </div>
    <form name="insert" role="form" action="/admin/tmpshops/{{ shop._id }}" method="POST">
      <input name="created_by" type="hidden" value="SYSTEM">
  {{/if}}

      <div class="form-group">
        <input name="name" class="form-control" placeholder="名字" value="{{ shop.name }}">
      </div>
      <div class="form-group">
        <input name="phone" class="form-control" placeholder="电话" value="{{ shop.phone }}">
      </div>
      <div class="form-group">
        <input name="mobile" class="form-control" placeholder="手机" value="{{ shop.mobile }}">
      </div>
      <div class="form-group">
        <input name="email" class="form-control" placeholder="邮箱" value="{{ shop.email }}">
      </div>
      <div class="form-group">
        <textarea name="desc" class="form-control" placeholder="描述" rows="1">{{ shop.desc }}</textarea>
      </div>
      <div class="form-group">
        <select name="_category" class="form-control">
      
          {{#category categories}}
          {{/category}}

        </select>
      </div>
      <div class="form-group">
        <input name="address" class="form-control" placeholder="地址" value="{{ shop.address }}">
      </div>

      <div class="form-group">
        <input name="geo.route" placeholder="街道" value="{{ shop.geo.route }}">
        <input name="geo.district" placeholder="区" value="{{ shop.geo.district }}">
        <input name="geo.city" placeholder="城市" value="{{ shop.geo.city }}">
        <input name="geo.zipcode" placeholder="邮编" value="{{ shop.geo.zipcode }}">
        <input name="geo.loc.coordinates" placeholder="维度/经度" value="{{ shop.geo.loc.coordinates }}">
      </div>

      <button type="submit" class="btn btn-success pull-right">
        {{#if shop}} 通过审核 {{else}} 确认添加 {{/if}}
      </button>
    </form>

    <select id="select-geo">
      <option value=''></option>
    </select>
    <button id="btn-geo" class="btn btn-info pull-left">生成坐标</button>

</div>