<div class="container" style="padding-top:50px;">
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">
      临时商铺列表<a class="btn btn-success pull-right" href="/admin/tmpshops/new">新建临时商店</a>
    </h1>
  </div>

  {{#if shops}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>店铺名</th>
        <th>创建时间</th>
        <th>邮箱</th>
        <th>创建者</th>
        <th>IP地址</th>
        <th>已审核</th>
      </tr>
    </thead>
    <tbody>
      {{#each shops}} {{> tmpshop}} {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>暂无商店</p>
  {{/if}}


  <div class="container">

    {{#if pagenums}}
    <ul class="pagination">
      {{#each pagenums}}
      <li>
        <a href="/admin/tmpshops?offset={{ val }}&limit={{ @limit }}"> {{ val }} </a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>null</p>
    {{/if}}

  </div>

</div>