<tr>
  <td>
    <a href="/admin/categories/{{_id}}/shops">
      {{name}}
    </a>
  </td>
  <td>
    <form name="deletecategory" method="POST" action="/admin/categories/{{_id}}">
      <input type="hidden" name="_method" value="DELETE" />
      <button type="submit" class="btn btn-danger pull-right">删除</button>
    </form>
  </td>
</tr>