<tr>
  <td>
    <a href="/admin/feedbacks/{{_id}}">
      {{email}}
    </a>
  </td>
  <td>
    {{created_at}}
  </td>
  <td>
    {{content}}
  </td>
  <td>
    {{#if read}}
      已读
    {{else}}
      未读
    {{/if}}
  </td>
  <td>
    <form name="deletefeedback" method="POST" action="/admin/feedbacks/{{_id}}">
      <input type="hidden" name="_method" value="delete" />
      <button type="submit" class="btn btn-danger pull-right">删除</button>
    </form>
  </td>
</tr>