<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">后台管理</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/feedbacks">用户反馈</a>
        </li>
        <li><a href="/admin/tmpshops">待认证商家</a>
        </li>
        <li><a href="/admin/shops">商铺</a>
        </li>
        <li><a href="/admin/categories">类别</a>
        </li>
        <li><a href="/admin/users">用户</a>
        </li>
        <li><a href="/admin/profile">个人中心</a>
        </li>
      </ul>
    </div>
  </div>
</div>