<tr>
  <td>
    <a href="/admin/shops/{{_id}}/edit">
      {{name}}
    </a>
  </td>
  <td>
    {{phone}}
  </td>
  <td>
    {{address}}
  </td>
  <td>
    <a href="/admin/categories/{{_category._id}}/shops">
      {{_category.name}}
    </a>
  </td>
  <td>
    <form name="deleteshop" method="POST" action="/admin/shops/{{_id}}">
      <input type="hidden" name="_method" value="delete" />
      <button type="submit" class="btn btn-danger pull-right">删除</button>
    </form>
  </td>
</tr>