<tr>
  <td>
    <a href="/admin/tmpshops/{{_id}}/edit">
      {{name}}
    </a>
  </td>
  <td>
    {{created_at}}
  </td>
  <td>
    {{email}}
  </td>
  <td>
    {{created_by}}
  </td>
  <td>
    {{creator_ip}}
  </td>
  <td>
    {{#if approved}} <span style="color:green;">是</span> {{else}} <span style="color:red;">否</span> {{/if}}
  </td>
</tr>