<tr>
  <td>
    <a href="/admin/users/{{_id}}">
      {{local.username}}
    </a>
  </td>
  <td>
    <form name="deleteuser" method="POST" action="/admin/users/{{_id}}">
      <input type="hidden" name="_method" value="delete" />
      <button type="submit" class="btn btn-danger pull-right">删除</button>
    </form>
  </td>
</tr>