<div class="container" style="padding-top:50px;">
	<div class="page-header">
	  <h1 style="margin-top:20px; text-align:center;">发表文章</h1>
	</div>

	<form name="compose" role="form" action="/api/forum/posts/new" method="POST">
		<input name="author" value="" type="hidden" />

		<div class="form-group">
	    <input name="title" class="form-control" placeholder="标题">
	   </div>
		<div class="form-group">
			<textarea name="body" class="form-control" rows="6" placeholder="输入内容"></textarea>
		</div>
		<div class="form-group">
	    <input name="tag" class="form-control" placeholder="标签">
	  </div>

	  <button type="submit" class="btn btn-success">Submit</button>
	</form>

</div>

