<div class="container" style="padding-top:60px">
	<h1 class="test">搜索客户</h1>
	<form action="/clients/search/json/" method="GET">
		<input name="query" type="textfield">
		<input name="submit" type="submit" >
	</form>
</div>

<div class="container">
	<h2>文章列表</h2>
	<% linkHelper = (post) -> %>
		<li><a href="/api/forum/posts/<%- post._id %>"><%- post.title %></a></li>
	<% end %>

	<% if @posts?.length : %>
		<ul>
			<% for post in @posts : %>
				<%- linkHelper post %>
			<% end %>
		</ul>
	<% else : %>
		<p>List is empty</p>
	<% end %>
</div>

