<div class="container">
  <div class="page-header">
    <h1 style="margin-top:60px; text-align:center;">
      {{post.title}}
      <small>{{post.createdat}}</small>
    </h1>
  </div>
  <div class="container">{{post.body}}</div>

  <div class="container">
    {{post.comments}}
  </div>

  <div class="container">

    <form name="compose" role="form" action="/api/forum/posts/<%- @post._id %>/comments/new" method="POST">

      <input name="comment_author_id" value="aaa" type="hidden" />
      <div class="form-group">
        <textarea name="comment_body" class="form-control" rows="6" placeholder="输入内容"></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right">提交评论</button>

    </form>

  </div>
</div>