<!DOCTYPE html>
<html>

<head>
  <title>后台管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/bootstrap-3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap-3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>

<body>

  {{#header isContentPage}}
    {{> header}}
  {{/header}}

  {{{body}}}

  <script type="text/javascript" src="/public/js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/public/js/lodash.min.js"></script>
  <script type="text/javascript" src="/bootstrap-3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/js/main.js"></script>
</body>

</html>