<div class="container" style="padding-top:50px;">

  {{#if user._id}}
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">更改用户</h1>
  </div>
  <form name="edit" role="form" action="/admin/users/{{user._id}}" method="POST">
    <input type="hidden" name="_method" value="put" />
  {{else}}
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">添加用户</h1>
  </div>
  <form name="new" role="form" action="/admin/users" method="POST">
  {{/if}}

    <div class="form-group">
      <input name="name" class="form-control" placeholder="用户名" value="{{user.local.username}}">
    </div>

    <button type="submit" class="btn btn-success pull-right">
      {{#if user}} 提交更改 {{else}} 确认添加 {{/if}}
    </button>

  </form>
</div>