<div class="container" style="padding:50px 0 0;">

  <div class="page-header text-center">
    <h1>Profile Page</h1>
    <a href="/admin/logout" class="btn btn-info">Logout</a>
  </div>

  <div class="col-sm-12">
    <div class="well">
      <h3>Local</h3>

      <p>
        <strong>id</strong>: {{ user._id }}
        <br>
        <strong>username</strong>: {{ user.local.username }}
        <br>
        <strong>password</strong>: {{ user.local.password }}
      </p>

    </div>
  </div>

</div>