<div class="container" style="padding-top:50px;">
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">
      商铺列表
      <a class="btn btn-success pull-right" href="/admin/users/new">新建商店</a>
    </h1>
  </div>


  {{#if users}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>用户名</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}} {{> user}} {{/each}}
    </tbody>
  </table>
  {{else}}
  <p></p>
  {{/if}}


  <div class="container">
    {{#if pagenums}}
    <ul class="pagination">
      {{#each pagenums}}
      <li>
        <a href="/admin/shops?offset={{ val }}&limit={{ @limit }}"> {{ val }} </a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>null</p>
    {{/if}}

  </div>

</div>