<div class="container" style="padding-top:50px;">
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">
      <a href="/admin/users/{{user._id}}/edit">{{user.local.username}}</a>
    </h1>
  </div>
</div>