<div class="container" style="padding-top:50px;">
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">
      类别列表
      <a class="btn btn-success pull-right" href="/admin/categories/new">新建类别</a>
    </h1>
  </div>


  {{#if categories}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each categories}} {{> category}} {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>暂无分类</p>
  {{/if}}



  <div class="container">
    {{#if pagenums}}
    <ul class="pagination">
      {{#each pagenums}}
      <li>
        <a href="/admin/shops?offset={{ val }}&limit={{ @limit }}"> {{ val }} </a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>null</p>
    {{/if}}
  </div>

</div>