<div class="container" style="padding-top:50px;">

  {{#if category._id}}
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">更改类别</h1>
  </div>
  <form name="edit" role="form" action="/admin/categories/{{category._id}}" method="POST">
    <input type="hidden" name="_method" value="PUT" />
  {{else}}
  <div class="page-header">
    <h1 style="margin-top:20px; text-align:center;">添加类别</h1>
  </div>
  <form name="new" role="form" action="/admin/categories" method="POST">
  {{/if}}

      <div class="form-group">
        <input name="name" class="form-control" placeholder="名字" value="{{category.name}}">
      </div>
      <div class="form-group">
        <input name="phone" class="form-control" placeholder="父类别" value="{{category.parent}}">
      </div>

      <button type="submit" class="btn btn-success pull-right">
        {{#if category._id}} 提交更改 {{else}} 确认添加 {{/if}}
      </button>

    </form>
</div>