<!DOCTYPE html>
<html>

<head>
  <title>新西兰网</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/bootstrap-3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap-3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>

<body>
  {{#header isContentPage}}
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">新西兰网</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/admin/feedbacks">用户反馈</a>
          </li>
          <li><a href="/admin/tmpshops">待认证商家</a>
          </li>
          <li><a href="/admin/shops">商铺</a>
          </li>
          <li><a href="/admin/categories">类别</a>
          </li>
          <li><a href="/admin/users">用户</a>
          </li>
          <li><a href="/admin/profile">个人中心</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/header}} 

  {{{body}}}

  <script type="text/javascript" src="/public/js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/public/js/lodash.min.js"></script>
  <script type="text/javascript" src="/bootstrap-3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/js/main.js"></script>
</body>

</html>